# H1 heading
"Datascience Tools and Ecosystem"

In this notebook Tools which used in Datascience is summarized

Languages for Datascience are as follows
1. Python
2. R
3. SQL(Structured Query Language)

Some commonly used libraries in Data science are
1. Pandas
2. Numpy
3. Matplotlib
4. Tensorflow

| Datascience Tools |
| ------------------|
| Development Enviroment|
| Open Source or Cloud base |

### Heading3
Below are the some arithmetic Expressions in Python

In [6]:
a=(3*4)+5
print(a)
#/ This is the arithmetic to multiply and add numbers

17

In [14]:
a=200
b=60
print(a/b)
#/ Total hours in 200 minutes

3.3333333333333335

***Objectives***
Undorder List
* Python
* R

## Author
Murtaza Hassan